# DEVELOPEMENT
parameters:
	urlPrefix: ''
	ids:
		USERDB_IDS_USERNAME: 'api'
		USERDB_IDS_PASSWORD: 'xxx'
		USERDB_IDS_IPS_WHITELIST: '10.107.99.188'
	debug:
		https: false
		fakeUser:
			userID: 3306
			userName: 'bkralik'
	money:
		login: ''
		password: ''

# PRODUCTION
parameters:
	urlPrefix: '/userdb'   # don't forget to edit www/.htaccess
	ids:
		USERDB_IDS_USERNAME: 'api'
		USERDB_IDS_PASSWORD: 'xxx'
		USERDB_IDS_IPS_WHITELIST: '10.107.99.188'
	debug:
		https: false
		fakeUser: false
	money:
		login: ''
		password: ''


database:
	dsn: 'mysql:host=xxxxxx;dbname=userdb'
	user: 'userdb'
	password: ''
	options:
		lazy: true
